.jumbotron {
    background-color: navy;
    text-align: center;
    color: oldlace;
    padding-top: 4pt;
    padding-bottom: 2pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    } 

    .lead {
        color: goldenrod;
    }
    .card-body { 
        width:100%;
        background-color: lightgray;
    }

    .playerSearch {
        margin-bottom: 0%;
    }

    Example
    * {
      box-sizing: border-box;
    }
    
    /* Style the search field */
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 60%;
      background: #f1f1f1;
    }
    
    /* Style the submit button */
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }

    .img-thumbnail {
        margin-top: 4%;
        padding: 5px; 
    }

    .card {
      padding-left: 7%;
      height: 25rem;
    }

    .cardTwo {
      margin-left: 3%;
      background-color: lightgray;
      height: 10rem;
    }

    .card-header {
      background-color: navy;
      color: oldlace;
      text-align: center;
    }

    .card-bodyTwo  {
      margin-top: 2%;
      margin-left: 2%;
    }

    .cardThree {
      margin-left: 3%;
      background-color: lightgray;
      height: 14rem;
    }

    .card-header3 {
      background-color: goldenrod;
      color: navy;
      text-align: center;
      height: 2rem;
      padding-top: 1%;
      font-weight: bold;
    }

    .card-bodyThree  {
      margin-top: 2%;
      margin-left: 2%;
    }